# Ignore Mac DS_Store files
.DS_Store

# exclude xml folders:
exports/
corrected_exports/
late/

# files for which a corrected version exists:
mARkdown/zirafa/7577_zirafa*
mARkdown/the_middle_ground/
mARkdown/programmer/7587_programmer*

# ignore temporary Kate files:
**/*.kate-swp